*/English-frequency/local_src/output/
*/English-frequency/local_src/result/
*/English-frequency/lambda/*/package
*/English-frequency/db/sqldump*
*/English-api/config/*.json
.DS_Store
memo.txt
.vscode
*/English-api/infra/initdb/*
*/English-api/deploy.sh
*/English-front/node_modules/*
Discord-bot/.token
Discord-bot/config.json
Discord-bot/db_data/*
Discord-bot/docker-compose.yml
